<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias alias="ReservationDTO" type="org.plateer.fittingroomclient.reservation.dto.ReservationDTO"/>
        <typeAlias alias="GetReservationListDTO" type="org.plateer.fittingroomclient.reservation.dto.GetReservationListDTO"/>
        <typeAlias alias="GetReservationItemDTO" type="org.plateer.fittingroomclient.reservation.dto.GetReservationItemDTO"/>
        <typeAlias alias="ReservationNoDTO" type="org.plateer.fittingroomclient.reservation.dto.ReservationNoDTO"/>
        <typeAlias alias="CartProductListDTO" type="org.plateer.fittingroomclient.cart.dto.CartProductListDTO"/>
        <typeAlias alias="RoomDTO" type="org.plateer.fittingroomclient.room.dto.RoomDTO"/>
        <typeAlias alias="ProductDTO" type="org.plateer.fittingroomclient.product.dto.ProductDTO"/>
        <typeAlias alias="CartDTO" type="org.plateer.fittingroomclient.cart.dto.CartDTO"/>
        <typeAlias alias="CartProductDTO" type="org.plateer.fittingroomclient.cart.dto.CartProductDTO"/>
        <typeAlias alias="InquiryDTO" type="org.plateer.fittingroomclient.inquiry.dto.InquiryDTO"/>
        <typeAlias alias="ConsumerDTO" type="org.plateer.fittingroomclient.consumer.dto.ConsumerDTO"/>
    </typeAliases>
</configuration>
