<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.plateer.fittingroomclient.product.mapper.ProductMapper">
    <select id="getSellerProductCount" resultType="int">
        SELECT
            COUNT   (
                        DISTINCT
                        CONCAT  (
                                    A.pm_no,
                                    A.se_no,
                                    A.se_name,
                                    A.se_manager,
                                    A.se_status,
                                    B.pr_no,
                                    B.pr_brand,
                                    B.pr_name,
                                    B.pr_status,
                                    (
                                        SELECT
                                            D.prf_uuid
                                        FROM
                                            tbl_product_file D
                                        WHERE
                                            D.pr_no = B.pr_no
                                        ORDER BY
                                            D.prf_status DESC
                                        LIMIT
                                            1
                                    )
                                )
                    )
        FROM
            tbl_seller A
            LEFT JOIN tbl_product B ON A.se_no = B.se_no
            LEFT JOIN tbl_product_file C ON B.pr_no = C.pr_no
        WHERE
                B.pr_status NOT IN ( 'INACTIVE', 'DELETE' )
            AND C.prf_type = 'TOP'
            AND A.se_no = #{ seNo }
    </select>

    <select id="getSellerProductList" resultType="ProductDTO">
        SELECT
            DISTINCT
            A.pm_no,
            A.se_no,
            A.se_name,
            A.se_manager,
            A.se_status,
            B.pr_no,
            B.pr_brand,
            B.pr_name,
            B.pr_status,
            (
                SELECT
                    D.prf_uuid
                FROM
                    tbl_product_file D
                WHERE
                    D.pr_no = B.pr_no
                ORDER BY
                    D.prf_status DESC
                LIMIT
                    1
            ) AS prf_uuid
        FROM
            tbl_seller A
            LEFT JOIN tbl_product B ON A.se_no = B.se_no
            LEFT JOIN tbl_product_file C ON B.pr_no = C.pr_no
        WHERE
                B.pr_status NOT IN ( 'INACTIVE', 'DELETE' )
            AND C.prf_type = 'TOP'
            AND A.se_no = #{ seNo }
        ORDER BY
            A.se_no
        LIMIT
            0, #{skip}
    </select>

    <select id="getProduct" resultType="ProductDetailDTO">
        SELECT
            A.pr_no,
            A.pr_brand,
            A.pr_name,
            A.pr_price,
            A.pr_status,
            A.se_no,
            B.prc_no,
            B.prc_path_name,
            C.prf_no,
            C.prf_uuid,
            C.prf_type,
            C.prf_status
        FROM
            tbl_product A
            LEFT JOIN tbl_product_category B ON A.prc_no = B.prc_no
            LEFT JOIN tbl_product_file C ON A.pr_no = C.pr_no
        WHERE
            A.pr_no = #{ prNo }
    </select>

    <select id="getProductOption" resultType="ProductDetailDTO">
        SELECT
            A.sp_no,
            A.sp_size,
            A.sp_status
        FROM
            tbl_sell_product A
        WHERE
            A.pr_no = #{ prNo }
    </select>
</mapper>